<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstStepGroup">
    <form [formGroup]="firstStepGroup">
      <ng-template matStepLabel>Fill out tournament data</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="firstStepGroup.controls['name'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="firstStepGroup.controls['date'].hasError('required')">
            Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondStepGroup">
    <form [formGroup]="secondStepGroup">
      <ng-template matStepLabel>Assign Raspberry Pis</ng-template>
      <mat-checkbox [checked]="allChecked"
                    [indeterminate]="someChecked()"
                    (change)="setAll($event.checked)">
        All
      </mat-checkbox>
      <ul formArrayName="raspberryPis">
        <li *ngFor="let raspberryPiControl of this.raspberryPis.controls; let i=index">
          <ng-container [formGroupName]="i">
            <mat-checkbox formControlName="checked"
                          (change)="updateAllChecked()">
              {{ raspberryPiControl.value.name }}
            </mat-checkbox>
          </ng-container>
        </li>
      </ul>
      <div class="stepper-actions">
        <button mat-button mat-raised-button matStepperPrevious>Back</button>
        <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdStepGroup">
    <form [formGroup]="thirdStepGroup">
      <ng-template matStepLabel>Pick a master Raspberry Pi</ng-template>
      <mat-radio-group formControlName="masterPi" aria-labelledby="raspberry-pi-master-selection">
        <mat-radio-button *ngFor="let ctrl of this.selectedRaspberryPis"
                          [value]="ctrl.get('id').value">
          {{ ctrl.get('name').value }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="stepper-actions">
        <button mat-button mat-raised-button matStepperPrevious>Back</button>
        <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="stepper-actions">
      <button mat-raised-button [mat-dialog-close]>Cancel</button>
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close] (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
